/*Flex settings*/
body {
    display: flex;
    flex-direction: column;
}
/*Image sizing*/
img {
    height: 50%;
    width: 50%;
}
/*Flex setting to center content*/
h1, .region {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*Setting space around top & bottom of form*/
input {
    margin: 2rem 0;
}
/*Bolding p elements*/
p {
    font-weight: bold;
}
